[build]
builder = "dockerfile"
dockerfilePath = "packages/client/Dockerfile"
watchPatterns = ["packages/client/**", "packages/shared/**"]

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
